version: 2
jobs:
  test:
    parallelism: 1
    docker:
      - image: ruby:2.7.6

    working_directory: ~/pbxx
    steps:
      - checkout

      - restore_cache:
          keys:
            - ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sendgrid_toolkit.gemspec" }}
            - ruby-cache-{{ arch }}-{{ .Branch }}
            - ruby-cache

      - run:
          name: Download cc-test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Update RubyGems
          command: gem update --system 3.4.22

      - run:
          name: Install bundler
          command: gem install bundler -v 2.4.22

      - run:
          name: Configure bundler
          command: bundle config set --local path 'vendor/bundle'

      - run:
          name: Bundle Install
          command: bundle check || bundle install --jobs=4 --retry=3

      - save_cache:
          key: ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sendgrid_toolkit.gemspec" }}
          paths:
            - vendor/bundle

      - run:
          name: Run tests
          command: |
            bundle exec rspec spec

      - store_test_results:
          path: test_results

  build:
    parallelism: 1
    docker:
      - image: ruby:2.7.6
    working_directory: ~/pbxx
    steps:
      - checkout

      - restore_cache:
          keys:
            - ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sendgrid_toolkit.gemspec" }}

      - run:
          name: Build gem
          context: gem
          command: |
            gem build sendgrid_toolkit.gemspec

      - save_cache:
          key: ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sendgrid_toolkit.gemspec" }}-build
          paths:
            - .

  upload:
    parallelism: 1
    docker:
      - image: ruby:2.7.6
    working_directory: ~/pbxx
    steps:
      - checkout

      - restore_cache:
          keys:
            - ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sendgrid_toolkit.gemspec" }}-build

      - run:
          name: Upload to Gemfury
          context: gem
          command: |
            curl -F package=@sendgrid_toolkit-1.12.0.gem https://$GEMFURY_PUSH_TOKEN@push.fury.io/promoboxx/

workflows:
  version: 2
  build_and_upload:
    jobs:
      - test
      - build:
          requires:
            - test
      - ready_to_upload:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: master
      - upload:
          requires:
            - ready_to_upload
          filters:
            branches:
              only: master


